<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.UserMapper">
	<!-- selectEmail -->
	<select id="selectEmail" parameterType="String" resultType="vo.UsersVO">
		SELECT EMAIL FROM USERS WHERE NICKNAME = #{nickname}
	</select>
	
	<select id="selectNickname" parameterType="String" resultType="vo.UsersVO">
		SELECT NICKNAME FROM USERS WHERE EMAIL = #{email}
	</select>
	
	<select id="selectAdmin" parameterType="String" resultType="vo.UsersVO">
		SELECT ADMIN FROM USERS WHERE EMAIL = #{email}
	</select>
</mapper>